@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Oswald-Bold'; /* Choose a custom name for your font */
  src: url('/fonts/Oswald-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'DMSans-Regular'; /* Choose a custom name for your font */
  src: url('/fonts/DMSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'BfrikaRegular'; /* Choose a custom name for your font */
  src: url('/fonts/BfrikaRegular.ttf') format('truetype');
}


.Oswald-Bold{
  font-family: 'Oswald-Bold' !important;
}

.DMSans-Regular {
  font-family: 'DMSans-Regular' !important;
}

.BfrikaRegular {
  font-family: 'BfrikaRegular' !important;
}


.bg-off {
  background-color: #EEE9E1;
}

.bg-grayW {
  background-color:#D9D9D9;
}

.bg-seaD {
  background-color: #b2d2dd ;
}

.dynamic-text {
  font-size: clamp(1rem, 5vw, 10rem);
  text-align: justify;
}

@media (max-width: 940px) {
  .dynamic-text {
    font-size: 40px;
    text-align: justify;
  }  
}

.seriesCover {
  width: 100%;
  max-height: 600px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.circular-marker {
  border-radius: 50%; 
  object-fit: cover; 
}


.leaflet-popup-content-wrapper, .leaflet-popup-tip {
 background: rgb(6 182 212 / var(--tw-bg-opacity, 1)) !important; 
}

.leaflet-popup-close-button {
  color: white  !important;
}




.slider-container{
  position: relative;
  overflow: hidden;
  background-color: #eee9e1; /* Default background color */
  transition: background-color 0.5s ease; 
  width: 100%;
}

.slider-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; /* Start off-screen on the left */
  width: 100%;
  height: 100%;
  background-color: black; /* Color of the sliding background */
  transition: transform 0.5s ease-in-out; /* Smooth transition for the background */
  z-index: 1;
}


.slider-container:hover .slider-text  {
  color: white;
  z-index: 2; /* Keep the text and image above the sliding background */
  display: flex;
  align-items: center;
  transition: color 1s ease;
} 

.slider-text {
  white-space: nowrap;
  display: inline-block;
  padding: 20px 0;
  animation: slideLeft 30s linear infinite; /* Slower animation */
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


.archive-cardmain {
  position: relative;
  background: white; /* Default background color */
  overflow: hidden; /* Hide the animated circle outside the container */
}

.archive-cardmain::before {
  content: '';
  position: absolute;
  bottom: -120%; /* Start off-screen from the bottom */
  right: -90%; /* Start off-screen from the right */
  width: 170%; /* Circle size adjusted to ensure sufficient coverage */
  height: 200%; /* Circle size adjusted */
  background: radial-gradient(circle, #b2d2dd 30%, rgb(255, 255, 255) 90%); /* Gradient from cyan to deep blue */
  border-radius: 50%; /* Makes it circular */
  transform-origin: bottom right; /* Animation originates from the bottom-right corner */
  transform: scale(0); /* Initially hidden */
  transition: transform 0.5s ease-in-out; /* Smooth scaling effect for both hover and unhover */
  z-index: 1; /* Ensure it's on top of the background but behind content */
}

.archive-cardmain:hover::before {
  transform: scale(1); /* Fully visible on hover */
}

.archive-cardmain {
  position: relative;
  z-index: 2; /* Ensure content stays above the circular background */
}



.archive-cardmain2 {
  position: relative;
  background: white; /* Default background color */
  overflow: hidden; /* Hide the animated circle outside the container */
}

.archive-cardmain2::before {
  content: '';
  position: absolute;
  bottom: -120%; /* Start off-screen from the bottom */
  left: -90%; /* Start off-screen from the right */
  width: 170%; /* Circle size adjusted to ensure sufficient coverage */
  height: 200%; /* Circle size adjusted */
  background: radial-gradient(circle, #b2d2dd 30%, rgb(255, 255, 255) 90%); /* Gradient from cyan to deep blue */
  border-radius: 50%; /* Makes it circular */
  transform-origin: bottom right; /* Animation originates from the bottom-right corner */
  transform: scale(0); /* Initially hidden */
  transition: transform 0.5s ease-in-out; /* Smooth scaling effect for both hover and unhover */
  z-index: 1; /* Ensure it's on top of the background but behind content */
}

.archive-cardmain2:hover::before {
  transform: scale(1); /* Fully visible on hover */
}

.archive-cardmain2 .archive-card2 {
  position: relative;
  z-index: 2; /* Ensure content stays above the circular background */
}


.archive-card img {
  width: 100% !important;
}


.link-container {
  position: relative;
  overflow: hidden;
  background-color: #d9d9d9; /* Default background color */
  transition: background-color 0.5s ease; 
}

.link-container::before  {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; /* Start off-screen on the left */
  width: 100%;
  height: 100%;
  background-color: black; /* Color of the sliding background */
  transition: transform 0.5s ease-in-out; /* Smooth transition for the background */
  z-index: 1;
}

.link-container:hover::before , .slider-container:hover::before {
  transform: translateX(100%); /* Slide in from the left */
}

.link-container:hover, .slider-container:hover {
  background-color: black; /* Change the background on hover */
}

.link-content , .slider-content {
  position: relative;
  z-index: 2; /* Keep the text and image above the sliding background */
  display: flex;
  align-items: center;
  transition: color 1s ease; /* Smooth transition for text color */
}

.link-container:hover .link-text {
  color: #fff; /* Change the text color on hover */
}

.link-image {
  position: relative;
  z-index: 2; /* Ensure the image stays visible above the sliding background */
  transition: filter 0.5s ease; /* Transition for the arrow color */
}

.link-container:hover .link-image {
  filter: brightness(0) invert(1); /* Change the arrow color to white on hover */
}



.sideW{
  height: 100px;
}


@keyframes slideUp {
  0% {
    transform: translateY(100%); /* Start off-screen at the bottom */
    opacity: 0; /* Fully transparent */
  }
  50% {
    opacity: 0.5; /* Slightly visible */
  }
  100% {
    transform: translateY(0); /* Fully visible in original position */
    opacity: 1; /* Fully visible */
  }
}

.slide-up {
  opacity: 0; /* Initially hidden */
  transform: translateY(100%);
  animation: slideUp 1s ease-out forwards;
}

.slide-up.in-view {
  animation-play-state: running; /* Trigger animation when in view */
}


.archive-card {
  opacity: 0; /* Initially hidden */
  transform: translateY(20%);
  transition: transform 0.7s ease-out, opacity 0.7s ease-out;
  position: relative;
  z-index: 2; 
}

.archive-card.in-view {
  animation: slideUp 0.7s ease-out forwards;
}



